---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/* default scheme: */
/* $type-size-1 : 2.441em;  // ~39.056px */
/* $type-size-2 : 1.953em;  // ~31.248px */
/* $type-size-3 : 1.563em;  // ~25.008px */
/* $type-size-4 : 1.25em;   // ~20px */
/* $type-size-5 : 1em;      // ~16px */
/* $type-size-6 : 0.75em;   // ~12px */
/* $type-size-7 : 0.6875em; // ~11px */
/* $type-size-8 : 0.625em;  // ~10px */

/* custom scheme: */
/* $type-size-1 : 2.441em;  //  */
/* $type-size-2 : 1.953em;  // */
/* $type-size-3 : 1.375em;  // page title & h1 */
/* $type-size-4 : 1.25em;   // h2 */
/* $type-size-5 : 1em;      // h3 */
$type-size-6 : 0.875em;    // left ToC text
/* $type-size-7 : 1em;      // footer text & right ToC text */
/* $type-size-8 : 0.625em;  //  */

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  font-size: 14px; // default is 16px
 
  @include breakpoint($medium) {
    font-size: 16px; // default is 18px
  }
 
  @include breakpoint($large) {
    font-size: 18px; // default is 20 px
  }
 
  @include breakpoint($x-large) {
    font-size: 20px; // default is 22px
  }
}